---
import Base from "../layouts/Base.astro";
import {getCollection} from "astro:content";
import TeamMembers from "../components/TeamMembers.astro";
import {slide} from "astro:transitions";

const team_data = (await getCollection("team_data_schema"))
    .map(x => x.data)
    .flatMap(x => x.flat())
---
<Base>
    <div id="overlay" class="w-full h-full flex flex-col">
        <div class="sm:hidden w-full flex justify-end px-5">
            <div class="text-lg bg-red-50 rounded-b-md px-1">Team</div>
        </div>
        <div class="mt-14 w-full text-center font-extrabold text-xl sm:text-3xl md:text-5xl lg:text-7xl text-white underline transition-all duration-500 ease-in decoration-transparent hover:decoration-amber-400 decoration-4 underline-offset-8">
            Our Team
        </div>
        <div class="mt-7 px-12 font-extrabold text-white p-2 ">
            <p class="w-full text-center text-3xl my-5">Mentor/s</p>
            <div class="md:grid md:grid-cols-2 lg:grid-cols-6 gap-8 justify-center">
                {
                    team_data.filter(x => x.role !== "Member").map(x => <TeamMembers data={x} />)
                }
            </div>
        </div>
        <div class="mt-7 px-12 font-extrabold text-white p-2 ">
            <p class="w-full text-center text-3xl my-5">Members</p>
            <div class="md:grid md:grid-cols-2 lg:grid-cols-6 gap-8 justify-center">
                {
                    team_data.filter(x => x.role === "Member").map(x => <TeamMembers data={x} />)
                }
            </div>
        </div>
    </div>
</Base>

